* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arvo, sans-serif;
  width: 100vw;
  height: 100vh;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0;
  text-align: center;
}

.subtitle{
  margin-top: 0;
  text-align: center;
}

main {
  width: 70vw;
  height: 100vh;
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: hsl(248, 100%, 60.4%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  padding: 10px 10px 60px;
}

.space {
  aspect-ratio: 1 / 1;
  margin: .5vw;
  border-radius: 50%;
  cursor: pointer;
}

button {
  font-family: Arvo, sans-serif;
}

button.newGame {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: hsl(244, 100%, 24%);
  border: black solid 2px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
  padding: 1em;
  margin-left: -3.9em;
}

button.newGame:hover{
  background-color: hsl(244, 100%, 50.4%);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.2s;
}

button.newGame:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 


.lower-bar {
  width : 100%;
  position: relative;
  display: flex;
  align-items: center;
  bottom: 3em;
}

.gameDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%

}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.score {
  font-size: 3.5vw;
}

.red {
  color: red;
}

.black {
  color: black;
  /* left: 42%; */
}

.resetGameBox {
  width: 100;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


button.resetGame {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


button.resetGame:hover{
  background-color: hsl(248, 100%, 60.4%);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.2s;
}

button.resetGame:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 

button.resetGame:active{
  outline: none;
  box-shadow: none;
}

button.invisible:hover {
  background-color: transparent;
  box-shadow: none;
}

button.invisible {
  color: transparent;
  cursor: none;
  height: 3vh;
}

@media screen and (min-width: 1000px) {
  .score {
     font-size: 2.2rem;
     /* line-height: 2em; */
  }

  button.resetGame{
    margin: 0 auto;
  }
}
